<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
              <h2>入荷履歴</h2>
              <% if @product != nil %>

                  <h2>商品の入荷履歴</h2>
                  <%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: 'no_image.jpg', size: '200x200' %>
                  <p><%= @product.product_name %></p>
                  <p><%= @product.artist.artist_name %></p>
                  <p><%= @product.label.label_name %></p>
                  <p><%= @product.price %></p>
                  <p><%= @product.stock_amount %></p>
                  <p><%= @product.genre.genre_name %></p>
                  <p><%= @product.status %></p>
                  <%= link_to "商品一覧に戻る", products_path, class:"btn btn-default"%>

              <% end %>
              <p>新着順▼</p>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>入荷日時</th>
                    <th>商品名</th>
                    <th>入荷個数</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @arrivals.each do |arrival| %>
                        <tr>
                          <td><%= arrival.created_at.strftime("%Y-%m-%d") %></td>
                            <% product = Product.find(arrival.product_id) %>
                          <td><%= arrival.product.product_name %></td>
                          <td><%= arrival.arrival_amount %></td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
            <%= paginate @arrivals %>
        </div>
    </div>
</div>
