<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2><p class="text-center">管理者Log in</p></h2>
      <div class="box1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <p class="text-center">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </p>

          <p class="text-center">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </p>

          <p class="text-center">
          <% if devise_mapping.rememberable? %>
            <p class="text-center">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </p>
          <% end %>
          </p>

            <p class="text-center">
              <%= f.submit "Log in" %>
            </p>
          <% end %>
      </div>
      <p class="text-center">
      <%= render "administrators/shared/links" %>
      </p>
    </div>
  </div>
</div>