<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 edit-user-title">
      <h2>ユーザ情報編集</h2>
      <div class="box1 edit-user-info">
        <%= form_for(@user) do |f| %>
              <div class="name1">
                <h5>姓（漢字）</h5>
                <%= f.text_field :family_name,:class=>"form" %>
              </div>
              <div class="name1">
                <h5>名（漢字）※全角入力</h5>
                <%= f.text_field :first_name,:class=>"form" %>
              </div>
              <div class="name1">
                <h5>姓（カナ）</h5>
                <%= f.text_field :family_name_kana,:class=>"form" %>
              </div>
              <div class="name1">
                <h5>名（カナ）※全角入力</h5>
                <%= f.text_field :first_name_kana,:class=>"form" %>
              </div>

            <%= f.fields_for :addresses, @user.addresses.first do |i| %>

              <h5>郵便番号</h5>
              <%= i.text_field :post %>

              <h5>住所</h5>
              <%= i.text_field :a_address %>

              <h5>電話番号</h5>
              <%= i.text_field :phone %>

            <% end %>

            <h5>メールアドレス</h5>
            <%= f.text_field :email %>
            <p class="text-center">
                <%= f.submit '保存' %>
            </p>
        <% end %>
            <p class="text-center">
                <%= link_to 'マイページへ', user_path(@user) %>
            </p>
      </div>
    </div>
  </div>
</div>
