<h4>ユーザ登録住所編集</h4>



<%= form_for(@address, url: user_address_path(@user.id, @address.id)) do |f| %>

  <h5>姓（漢字）</h5>
  <%= f.text_field :family_name %>

  <h5>名（漢字）</h5>
  <%= f.text_field :first_name %>

  <h5>姓（カナ）</h5>
  <%= f.text_field :family_name_kana %>

  <h5>名（カナ）</h5>
  <%= f.text_field :first_name_kana %>



  <h5>郵便番号</h5>

  <%= f.text_field :post %>

  <h5>住所</h5>
  <%= f.text_field :a_address %>

  <h5>電話番号</h5>
  <%= f.text_field :phone %>

  <h5>プルダウン名</h5>
  <%= f.text_field :pulldown_name %>


<%= f.submit '保存' %>

<% end %>
