<table>
  <thead>
    <tr>
      <th></th>
      <th>姓（漢字）</th>
      <th>名（漢字）</th>
      <th>姓（カナ）</th>
      <th>名（カナ）</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% if @user.present? %>
      <% @user.addresses.each do |f| %>
        <tr>
          <td><%= f.pulldown_name %></td>
          <td><%= f.family_name %></td>
          <td><%= f.first_name %></td>
          <td><%= f.family_name_kana %></td>
          <td><%= f.first_name_kana %></td>
          <td><%= f.post %></td>
          <td><%= f.a_address %></td>
          <td><%= f.phone %></td>
          <% if administrator_signed_in? %>
            <td><%= link_to 'Edit', edit_administrators_user_address_path(@user.id, f.id) %></td>
          <% else %>
            <td><%= link_to 'Edit', edit_user_address_path(@user.id, f.id) %></td>
          <% end %>
          <td><%= link_to 'Destroy', user_address_path(@user.id, f.id), method: :delete, data: { confirm: '削除しますか？' }%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to '住所の新規追加', new_user_address_path(@user.id) %>
<%= link_to 'マイページへ', user_path(@user) %>
