<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="user-lists">
      <%= form_tag(administrators_users_path, method: :get) do %>
        <p>
        <%= text_field_tag :search %>
        <%= submit_tag "🔍", name: :nil %>
        </p>
        <% end %>
        <h1>ユーザ一覧</h1>

        <p class="array">新着順▼</p>
        <div class="user-info">
          <% @users.each do |user| %>
            <div class="user-list">
              <div class="user-list-left">
                <%= user.family_name %>
                <%= user.first_name %>
              </div>
              <div class="user-list-right">
                <button><%= link_to "詳細", administrators_user_path(user.id) %></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
        <%= paginate @users %>
    </div>
  </div>
</div>

