<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
        <h2>ユーザ一覧</h2>
        <%= form_tag(administrators_users_path, method: :get) do %>
          <p>
            <%= text_field_tag :search %>
            <%= submit_tag "🔍", name: :nil %>
          </p>
        <% end %>

        <p>新着順▼</p>

        <% @users.each do |user| %>
          <div class="user-list">
            <div class="user-list-left">
              <%= user.family_name %>
              <%= user.first_name %>
            </div>
            <div class="user-list-right">
              <%= link_to "詳細", administrators_user_path(user.id) %>
            </div>
          </div>
        <% end %>

        <%= paginate @users %>
     </div>
  </div>
</div>

