<h2>ユーザ詳細</h2>
<h4>姓（漢字）</h4>
<td><%= @user.family_name %></td>
<h4>名（漢字）</h4>
<td><%= @user.first_name %></td>
<h4>姓（カナ）</h4>
<td><%= @user.family_name_kana %></td>
<h4>名（カナ）</h4>
<td><%= @user.first_name_kana %></td>
<h4>郵便番号※半角入力、ハイフン不要</h4>
<td><%= @address.post %></td>
<h4>住所</h4>
<td><%= @address.a_address %></td>
<h4>電話番号※半角入力、ハイフン不要</h4>
<td><%= @address.phone %></td>
<h4>メールアドレス</h4>
<td><%= @user.email %></td>
<td><button><%= link_to '編集する', edit_administrators_user_path(@user.id) %></button></td>
<div><%= link_to administrators_user_addresses_path(@user.id) do %>このユーザの住所一覧を見るのリンク<% end %></div>
  <%= link_to 'このユーザを退会させる', user_path(@user), method: :delete, data: { confirm: 'このユーザを退会させますか？' }%>
<h1>購入履歴</h1>
<h4>新着順</h4>
<h4>注文日</h4>
<h4>配送スタータス</h4>
<h4>商品画像</h4>
<h4>シングル・アルバム名</h4>
<h4>購入枚数</h4>
<h4>価格</h4>
<h1>送付先</h1>
<h4>〒542-0076</h4>
<h4>大阪府大阪市中央区難波４丁目７−１４ 難波フロントビル 4階</h4>
<h4>山田太郎様</h4>
<h4>小計</h4>
<h4>消費税</h4>
<h4>送料</h4>
<h5>500円</h5>
<h4>購入価格総計</h4>
