<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">管理者ページ</h1>
          <h2 class="title">売上確認</h2><br>
          <div class="box1">
              <p>日別売上：<%= @day_total_price %>円</p><br>
              <p>月別売上：<%= @month_total_price %>円</p><br>
              <p>年別売上：<%= @year_total_price %>円</p><br>
              <p>総売上：<%= @total_price %>円</p>
          </div>


          <h2 class="title">購入履歴一覧</h2>
          <p class="array">新着順▼</p>
          <div class="box1 purchase-history-lists">
                  <% @receipts.each do |receipt| %>
                    <p>注文日：<%= receipt.created_at.strftime("%Y-%m-%d") %></p>
                    <p>注文者：<%= receipt.purchaser_family_name%><%= receipt.purchaser_first_name %></p>
                    <p>
                      配送ステータス：
                      <%= form_for receipt, url: receipt_path(receipt.id) do |f| %>
                        <%= f.select :status, [["受付", "0"], ["準備中", "1"], ["配送済み", "2"]], :selected =>receipt.status_before_type_cast %>
                        <%= f.submit "保存" %>
                      <% end %>
                    </p>
                    <% receipt.receipt_items.each do |item| %>
                      <%= attachment_image_tag item, :product_image_id, format: 'jpeg', fallback: 'no_image.jpg', size: '40x40' %>
                      <%= item.product_name %>
                      <p>数量：<%= item.product_amount %>枚</p>
                      <p>価格：<%= item.price %></p>
                    <% end %>
                    <p>送付先</p>
                    <%= receipt.delivery_address %>
                    <p>決済方法</p>
                    <%= receipt.settlement %>
                    <p>小計：　<%= receipt.total_price_without_tax %>円</p>
                    <p>消費税：<%= receipt.tax_price.floor%>円</p>
                    <p>送料：  500円</p>
                    <p>購入価格総計：<%= receipt.total_price_with_tax.floor %>円</p>
                    <hr>
                  <% end %>
          </div>

          <%= paginate(@receipts) %>
        </div>
    </div>
</div>
