<h2>商品一覧</h2>
<div>

  <% if administrator_signed_in? %>
    <% @products.each do |product| %>
    	<ul>
	    	<li>
				<%= attachment_image_tag product, :product_image, fallback: "no_image.jpg", size: "100x100" %>
		        <%= link_to administrators_product_path(product.id) do %><%= product.product_name %><% end %>
		        <%= (product.price*1.1).floor %>円（税込み）
		        <%# .floorは小数点以下切り捨て %>
		        <%= product.status %>
		    </li>
	    </ul>
    <% end %>
  <% else %>
    <% @products.each do |product| %>
      <ul>
        <li>
        <%= attachment_image_tag product, :product_image, fallback: "no_image.jpg", size: "100x100" %>
            <%= link_to product_path(product.id) do %><%= product.product_name %><% end %>
            <%= (product.price*1.1).floor %>円（税込み）
            <%# .floorは小数点以下切り捨て %>
            <%= product.status %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
