<div class="product-info">
  <h2>商品詳細</h2>
  <%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: 'no_image.jpg', size: '200x200' %>
  <div class="product-detail">
    <div class="detail-left">
      <h3>曲リスト</h3>
      <% @discs.each do |disc| %>
        <p>ディスク <%= product.disc.name %></p>
        <ul>
          <% disc.@songs.each do |song| %>
            <li><%= disc.song.name %></li>
          <% end %>
        <ul>
      <% end %>
    </div>
    <div class="detail-right">
      <p><%= @product..name %></p>
      <p><%= @product.artist.name %></p>
      <p><%= @product.lebel.name %></p>
      <p><%= @product.price %></p>
      <p><%= @stock.stock_amount %></p>
      <p><%= @product.genre.name %></p>
      <p><%= @product.status %></p>
      <% if administrator_signed_in? %>
        <button><%= link_to "編集", edit_product_path(@product.id) %></button>
        <button><%= link_to "この商品の入荷履歴を見る", 入荷履歴のパス %></button>
      <% else %>
        <button><%= link_to "カートへ追加", カート一覧のパス %></button>
      <% end %>
    </div>
    <button><%= link_to "商品一覧に戻る", products_path %></button>
  </div>
</div
