<div class="product-info clearfix">
  <h2>商品詳細</h2>
  <div class="product-image"><%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: 'no_image.jpg', size: '300x300' %></div>
  <div class="product-detail">
    <div class="detail-left">
      <h3>曲リスト</h3>
      <% @discs.each do |disc| %>
        <p class="disc-name">ディスク <%= disc.disc_name %></p>
        <ul class="song">
          <% disc.songs.each do |song| %>
            <li class="song-list"><%= song.song_num %>.<%= song.song_name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="detail-right">
      <h3 class="product_name"><%= @product.product_name %></h3>
      <p class="product-detail-item"><%= @product.artist.artist_name %></p>
      <p class="product-detail-item"><%= @product.label.label_name %></p>
      <p class="product-detail-item"><%= (@product.price*1.1).floor %>円（税込み）</p>
      <p class="product-detail-item">在庫：　<%= @product.stock_amount %>枚</p>
      <% if @product.status == "販売停止中" %>
        <p class="product-detail-item"><%= @product.status %></p>
      <% end %>
      <p class="product-detail-item"><%= @product.genre.genre_name %></p>


      <% if administrator_signed_in? %>
        <div class="product-change">
          <div>
            <%= link_to "編　集", edit_administrators_product_path(@product.id) ,:class=>"change-button"%>
          </div>
          <div>
            <%= link_to "削　除", product_path(@product), method: :delete, data:{ confirm: '本当に消しますか？' },:class=>"change-button" %>
          </div>
        </div>
        <p><%= link_to "この商品の入荷履歴を見る", administrators_arrival_path(@product.id) %></p>
      <% else %>

        <% if @product.stock_amount != 0 && @product.status != "販売停止中" %>

          <%= form_for(@cart_item, url:carts_path) do |f| %>
            <!-- url:carts_pathで、cartコントローラーのcreateアクションに入力情報を送る -->
            <%= f.hidden_field :product_id, value: @product.id %>
            <!-- .hidden_fieldのフォームはviewには表示されない。@productが持つidをcarts_pathでcartコントローラーへ渡している。 -->
            <p><%= f.select :product_amount, 1..@product.stock_amount %>  枚</p>
            <p><%= f.submit "カートに入れる" ,:class=>"button" %></p>
          <% end %>
        <% end %>
      <% end %>
      <p><%= link_to "商品一覧に戻る", products_path %></p>
    </div>
  </div>

</div>
