<div class="product-info">
  <h2>商品詳細</h2>
  <%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: 'no_image.jpg', size: '200x200' %>
  <div class="product-detail">
    <div class="detail-left">
      <h3>曲リスト</h3>
      <% @discs.each do |disc| %>
        <p>ディスク <%= disc.disc_name %></p>
        <ul>
          <% disc.songs.each do |song| %>
            <li><%= song.song_name %></li>
          <% end %>
        <ul>
      <% end %>
    </div>
    <div class="detail-right">
      <p><%= @product.product_name %></p>
      <p><%= @product.artist.artist_name %></p>
      <p><%= @product.label.label_name %></p>
      <p><%= (@product.price*1.1).floor %>円</p>
      <p><%= @product.stock_amount %>枚</p>
      <p><%= @product.genre.genre_name %></p>
      <p><%= @product.status %></p>
      <% if administrator_signed_in? %>
        <%= link_to "編集", edit_administrators_product_path(@product.id) %>
        <%= link_to "削除", product_path(@product), method: :delete, data:{ confirm: '本当に消しますか？' } %>
        <%= link_to "この商品の入荷履歴を見る", administrators_arrival_path(@product.id) %>
      <% else %>
        <%= form_for(@cart_item, url:carts_path) do |f| %>
          <!-- url:carts_pathで、cartコントローラーに入力情報を送る -->
          <%= f.hidden_field :product_id, value: @product.id %>
          <!-- .hidden_fieldのフォームはviewには表示されない。@productが持つidをcarts_pathでcartコントローラーへ渡している。 -->
          <%= f.select :product_amount, 1..@product.stock_amount %>
          <%= f.submit "カートに入れる" %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "商品一覧に戻る", products_path %>
</div>
