<h3>購入情報確認</h3>
<div>
	<h4>お支払い方法の選択</h4>
	<%= form_with(model: @receipt, local: true) do |f| %>
		<p><%= f.radio_button :settlement, "銀行振込" %>銀行振込</p>
		<p><%= f.radio_button :settlement, "クレジットカード決済" %>クレジットカード決済</p>
		<p><%= f.radio_button :settlement, "代金引換" %>代金引換</p>


	<h4 id="addresses" data-addresses=<%= @addresses.to_json%>>お届け先の住所の選択</h4>

		<%= f.collection_select :delivery_address, @addresses, :a_address, :pulldown_name %>
		<p class="post"><%= @addresses.first.post %></p>
		<p class="address"><%= @addresses.first.a_address %></p>
		<p><span class="name"><%= @addresses.first.family_name %></span><span class="first-name"><%= @addresses.first.first_name %></span></p>
		<p class="phone"><%= @addresses.first.phone %></p>

		<%= f.hidden_field :a_address, :value =>"", class: "post" %>
		<%= f.hidden_field :post, :value =>"", class: "address" %>
		↑addressのhidden_fieldプルダウンメニューで取得してるので消す可能性有り


		<%= link_to "別の住所を追加・変更する場合はこちら", new_user_address_path(current_user.id) %>
		<h4>お近くのコンビニで受け取る場合はこちら</h4>
		<h4>ご請求額</h4>
		<%= @cart_items.total_price_with_tax_for_cart %>円（税込み）
		<p>(消費税　<%= receipt.tax_price %>円)</p>
		<p>(送料　500円)</p>


		<h3>購入内容の選択</h3>
		<% @cart_items.each do |item| %>
			<%= attachment_image_tag item, :product_image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
			<%= item.product_name %>
			<%= (item.price*1.1).floor %>円（税込み）
			<%= item.cart_items.first.product_amount %>
			<%= link_to "削除", cart_path(item.cart_items.first.id), method: :delete, data:{ confirm: '本当に消しますか？' } %>
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#receipt_delivery_address").change(function() {
			var index = $(this).prop("selectedIndex");
			var addresses = $("#addresses").data("addresses");
			var val = $(this).val();
			$('.address').text(addresses[index]["a_address"]);
			$('.post').text(addresses[index]["post"]);
			$('.address').val(addresses[index]["a_address"]);
			$('.post').val(addresses[index]["post"]);
			$('.name').text(addresses[index]["family_name"]);
			$('.first-name').text(addresses[index]["first_name"]);
			$('.phone').text(addresses[index]["phone"]);

		});
	});
</script>
