<!DOCTYPE html>
<html>
  <head>
    <title>SmileRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  　<meta charset="utf-8">
    <!-- src="URL" について：add.jsと共通のディレクトリ(= app)が３つ上にあるので . が３つではないのか？ -->
<!--     <script type="text/javascript" src= "...assets/javascripts/add.js"></script> -->
    <script type="text/javascript">
  　　$(function() {
        $("#artist-outer").load("../artists/new #artist-inner");
        $("#genre-outer").load("../genres/new #genre-inner");
        $("#label-outer").load("../labels/new #label-inner");
  　　})
    </script>

  </head>

  <body>

<nav>
          <% if user_signed_in? %>

              <li><%= link_to products_path do %>ロゴ<% end %></li>

              <li><%= link_to user_path(@user.id) do %>マイページ<% end %>

              <%= form_tag(search_path, :method => 'get') do %>
                <%= text_field_tag :search %> <!-- searchはカラム名(productsテーブルに、検索用に新しく作成) -->
                <%= submit_tag '検索' %>
              <% end %>


              <li><%= link_to destroy_user_session_path, method: :delete do %>logout<% end %></li>

              <li><%= link_to carts_path do %><i class="fa fa-shopping-cart fa-2x "></i><% end %></li>



          <% elsif administrator_signed_in? %>
              <li><%= link_to  products_path do %>ロゴ<% end %></li>

              <%= form_tag(search_path, :method => 'get') do %>
                <%= text_field_tag :search %> <!-- searchはカラム名(productsテーブルに、検索用に新しく作成) -->
                <%= submit_tag '検索' %>
              <% end %>

              <li><%= link_to  administrators_users_path do %>管理者ページ<% end %></li>

              <li><%= link_to  destroy_administrator_session_path, method: :delete do %> 管理者ログアウト</i><% end %></li>


          <% else %>

              <li><%= link_to products_path do %>ロゴ<% end %></li>


              <%= form_tag(search_path, :method => 'get') do %>
                <%= text_field_tag :search %> <!-- searchはカラム名(productsテーブルに、検索用に新しく作成) -->
                <%= submit_tag '検索' %>
              <% end %>


              <li><%= link_to new_user_registration_path do %>sign up<% end %></li>

              <li><%= link_to new_user_session_path do %>login<% end %></li>

              <li><%= link_to carts_path do %><i class="fa fa-shopping-cart fa-2x "></i><% end %></li>


            </ul>

          <% end %>
        </nav>


         <%# サイドバー %>
         <% if administrator_signed_in? %>
          <ul>
            <li><%= link_to "管理者ページ", administrators_top_path %>
            <li><%= link_to "商品一覧", administrators_products_path%></li>
            <li><%= link_to "ユーザ一覧", administrators_users_path %></li>
            <li><%= link_to "商品の追加・入荷", new_administrators_product_path%></li>
            <li><%= link_to "入荷履歴", administrators_arrivals_path %></li>
          </ul>
         <% end %>






    <%= yield %>
  </body>
</html>
