<!DOCTYPE html>
<html>
  <head>
    <title>SmileRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  　<meta charset="utf-8">
    <!-- src="URL" について：add.jsと共通のディレクトリ(= app)が３つ上にあるので . が３つではないのか？ -->
<!--     <script type="text/javascript" src= "...assets/javascripts/add.js"></script> -->
    <script type="text/javascript">
  　　$(function() {
        $("#artist-outer").load("../../artists/new #artist-inner");
        $("#genre-outer").load("../../genres/new #genre-inner");
        $("#label-outer").load("../../labels/new #label-inner");
  　　})
    </script>

    <!-- GoogleFonts 自家製フォント工房 -->
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

    <% self_css_path = "/assets/"+controller.controller_name  %>
    <%= stylesheet_link_tag self_css_path, :media => "all" %>


  </head>

  <!-- bodyタグを装飾。 link="クリック前の色" vlink="クリック後の色" -->
  <body link="black" vlink="black">

    <div id="container">

          <% if user_signed_in? %> <!-- エンドユーザ サインイン時 -->

          <div class="clearfix header">

            <div class="header-left">
              <%= link_to products_path do %>ロゴ<% end %>
            </div>

            <div class="header-right">

              <li class="menu-item">
                  <%= form_tag(search_path, :method => 'get') do %>
                    <%= text_field_tag :search,"", :placeholder => "キーワードを入力",:class=>"search-form" %> <!-- searchはカラム名(productsテーブルに、検索用に新しく作成) -->
                    <!-- fontawesomeのアイコンをsubmit_tag に埋めるための記述 -->
                    <%= button_tag type: 'submit', class: 'btn search-btn btn-primary' do %><i class="fa fa-search"></i><% end %>
                  <% end %><!-- searchはカラム名(productsテーブルに、検索用に新しく作成) -->
                  <!-- fontawesomeのアイコンをsubmit_tag に埋めるための記述 -->
              </li>

              <li class="menu-item"><%= link_to user_path(current_user.id), class: 'link' do %>マイページ<% end %></li>

              <li class="menu-item"><%= link_to destroy_user_session_path, method: :delete, class: 'link' do %>logout</p><% end %></li>
              <li class="menu-item"><%= link_to carts_path do %><i class="fa fa-shopping-cart fa-2x "></i><% end %></li>
            </div>
          </div>

          <% elsif administrator_signed_in? %> <!-- 管理者 サインイン時 -->

            <div class="clearfix header">

              <div class="header-left">
                <%= link_to products_path do %>ロゴ<% end %>
              </div>


            <div class="header-right">
                <li class="menu-item">
                  <%= form_tag(search_path, :method => 'get') do %>
                    <%= text_field_tag :search,"", :placeholder => "キーワードを入力",:class=>"search-form" %> <!-- searchはカラム名(productsテーブルに、検索用に新しく作成) -->
                    <!-- fontawesomeのアイコンをsubmit_tag に埋めるための記述 -->
                    <%= button_tag type: 'submit', class: 'btn search-btn btn-primary' do %><i class="fa fa-search"></i><% end %>
                  <% end %>
                </li>
                <li class="menu-item"><%= link_to  administrators_users_path, class: 'link' do %>管理者ページ<% end %></li>

                <li class="menu-item"><%= link_to  destroy_administrator_session_path, method: :delete, class: 'link' do %> 管理者ログアウト</i><% end %></li>
            </div>


          <% else %> <!-- ログアウト状態 -->

            <div class="clearfix header">
              <div class="header-left">
                <%= link_to products_path do %>ロゴ<% end %>
              </div>

              <div class="header-right">
                <li class="menu-item">
                  <%= form_tag(search_path, :method => 'get') do %>
                    <%= text_field_tag :search,"", :placeholder => "キーワードを入力",:class=>"search-form" %> <!-- searchはカラム名(productsテーブルに、検索用に新しく作成) -->
                    <%= button_tag type: 'submit', class: 'btn search-btn btn-primary' do %><i class="fa fa-search"></i><% end %>
                  <% end %>
                </li>
                  <li class="menu-item"><%= link_to new_user_registration_path, class: 'link' do %>sign up<% end %></li>

                  <li class="menu-item"><%= link_to new_user_session_path, class: 'link' do %>login<% end %></li>

                  <li class="menu-item"><%= link_to carts_path do %><i class="fa fa-shopping-cart fa-2x "></i><% end %></li>
              </div>
            </div>

          <% end %>

         <%# サイドバー %>
         <% if administrator_signed_in? %>
          <ul>
            <li><%= link_to "管理者ページ", administrators_top_path, class: 'link' %></li>
            <li><%= link_to "商品一覧", administrators_products_path, class: 'link' %></li>
            <li><%= link_to "ユーザ一覧", administrators_users_path, class: 'link' %></li>
            <li><%= link_to "商品の追加・入荷", new_administrators_product_path, class: 'link'%></li>
            <li><%= link_to "入荷履歴", administrators_arrivals_path, class: 'link' %></li>
          </ul>
         <% end %>

    <%= yield %>

  </div>

  </body>
</html>
