<!DOCTYPE html>
<html>
  <head>
    <title>SmileRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav>
          <% if user_signed_in? %>

              <li><%= link_to  products_path do %>ロゴ<% end %></li>

              <li><%= link_to  destroy_user_session_path, method: :delete do %><i class="glyphicon glyphicon-log-out" aria-hidden="true"> logout</i><% end %></li>

          <% else %>

              <li><%= link_to  products_path do %>ロゴ<% end %></li>

              <li><%= link_to  new_user_registration_path do %>sign up<% end %></li>

              <li><%= link_to  new_user_session_path do %>login<% end %></li>

            </ul>

          <% end %>
        </nav>








    <%= yield %>
  </body>
</html>
