<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1><p class="text-center">会員登録</p></h1>
                <div class="box1">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <p class="text-center">
                        <div class="name1">
                            <div><%= f.label :family_name, "姓（漢字）" %></div>
                            <div><%= f.text_field :family_name,:class=>"form" %></div>
                        </div>
                        <div class="name1">
                            <div><%= f.label :first_name, "名（漢字）※全角入力" %></div>
                            <div><%= f.text_field :first_name,:class=>"form" %></div>
                        </div>
                        <div class="name1">
                            <div><%= f.label :family_name_kana, "姓（カナ）" %></div>
                            <div><%= f.text_field :family_name_kana,:class=>"form" %></div>
                        </div>
                        <div class="name1">
                            <div><%= f.label :first_name_kana, "名（カナ）※全角入力" %></div>
                            <div><%= f.text_field :first_name_kana,:class=>"form" %></div>
                        </div>
                        </p>
                        <p class="text-center">
                        <label>郵便番号　※半角入力、ハイフン不要</label><br>
                        <input type="text" name="post">
                        </p>
                        <p class="text-center">
                        <label>住所</label><br>
                        <input type="text" name="a_address">
                        </p>
                        <p class="text-center">
                        <label>電話番号　※半角入力、ハイフン不要</label><br>
                        <input type="text" name="phone">
                        </p>
                        <input type="hidden" name="pulldown_name" value="自分" >
                        <p class="text-center">
                            <%= f.label :email, "メールアドレス" %><br>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        </p>
                        <p class="text-center">
                        <%= f.label :password, "パスワード" %><br>
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br>
                        <%= f.password_field :password, autocomplete: "new-password" %>
                        </p><br>
                        <!-- <div class="field">
                        <%= f.label :password_confirmation, "パスワード再確認" %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div> -->
                        <p class="text-center">
                        <%= f.submit "会員登録" %>
                        </p>
                        <% end %>
                </div>
            <p class="text-center">すでにアカウントはお持ちですか？</p>
            <p class="text-center"><%= render "devise/shared/links" %></p>

        </div>
    </div>
</div>





